<% layout("/layouts/boilerplate") %>
<div class="container d-flex justify-content-center align-items-center mt-5">
  <div class="row">
    <div class="col-md-6 offset-md-3 col-xl-4 offset-xl-4">
      <div class="card shadow">
        <img
          src="https://images.unsplash.com/photo-1501703979959-797917eb21c8?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxfDB8MXxyYW5kb218MHw0ODMyNTF8fHx8fHx8MTY3MTM1MTc0MA&ixlib=rb-4.0.3&q=80&utm_campaign=api-credit&utm_medium=referral&utm_source=unsplash_source&w=1080"
          alt=""
          class="card-img-top"
        />
        <div class="card-body">
          <h5 class="card-title">Login</h5>
          <form class="validated-form" action="/login" novalidate method="post">
            <div class="mb-3">
              <label class="form-label" for="username">Username</label>
              <input
                class="form-control"
                id="username"
                name="username"
                type="text"
                autofocus
                required
              />
              <div class="valid-feedback">Looks good!</div>
            </div>
            <div class="mb-3">
              <label class="form-label" for="password">Password</label>
              <input
                class="form-control"
                id="password"
                name="password"
                type="password"
                required
              />
              <div class="valid-feedback">Looks good!</div>
            </div>
            <button class="btn btn-primary col-12">Login</button>
            <div class="mt-3">
              <p class="d-inline">Don't have an account?</p>
              <a href="/register">Register Here</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
